[Unit]
Description=Kasa to InfluxDB Bridge Service
After=network.target

[Service]
User=(user if required)
Type=simple
Restart=always
RestartSec=5
ExecStart=/path/to/venv/python /path/to/kasa2influx.py >> /dev/null 2>&1

[Install]
WantedBy=multi-user.target

